body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #bdc0c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.left-side {
    width: 500px;
    padding-right: 32px;
}

.left-side h1 {
    color: #1877f2;
    font-size: 56px;
    margin: 0;
}

.left-side p {
    font-size: 28px;
    line-height: 32px;
    margin-top: 0;
}

.right-side {
    width: 396px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.right-side input {
    width: 90%;
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    margin-bottom: 12px;
}

.login-btn {
    width: 96%;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 12px;
}

.login-btn:hover {
    background-color: #166fe5;
}

.forgot-link {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
}

.forgot-link:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #f3f4f6;
    margin-bottom: 20px;
}

.create-btn {
    background-color: #4d2ab7;
    color: rgb(251, 246, 246);
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 16px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #36a420;
}